
.main {
    /*min-height: 56vw; !*overflow: hidden;*!*/
    position: relative;
}

.left {
    float: left;
}

.right {
    float: right;
}

.head {
    /*height: .84rem;*/
    overflow: hidden;
    background-color: #0E0E20;
}

.head .head_left {
    width: 33%;
    padding: .27rem .6rem;
    overflow: hidden;
}

.head_left span {
    font-size: .18rem;
    font-weight: bold;
    display: inline-block;
}

.head_left .iconwendu {
    color: #FDB201;
    font-size: .3rem;
}

.head_left .iconshuye {
    color: #0FDA00;
    font-size: .3rem;
    font-weight: normal;
    transition: .3s all;
}

.head_left .color1 span {
    color: #FFFF00;
}

.head_left .color2 span {
    color: #FF7E00;
}

.head_left .color3 span {
    color: #FE0000;
}

.head_left .color4 span {
    color: #97014B;
}

.head_left .color5 span {
    color: #7D0022;
}

.head_left .l1 {
    margin-right: .36rem;
    font-size: .18rem;
}

.head_left .wcolor0 span {
    color: #0FDA00;
}

.head_left .l2 {
    color: #3ACE74;
    font-size: .18rem;
    margin-right: .36rem;
}

.head_left .l3 {
    color: #AAE9FF;
}

.head_left .l3 span {
}

.head_left .l3 .cloudy {
    width: .39rem;
    height: .39rem;
    position: relative;
    margin-right: .05rem;
}


.head_left .l3 .cloudy img {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: .1rem;
}

.head .head_right {
    width: 33%;
    text-align: right;
    color: #fff;
    padding: 0 0.6rem;
    line-height: .84rem;
}

.head_right span {
    font-size: .18rem;
}

.head .head_right .iconshijian {
    margin-right: .1rem;
    color: #4EBBFC;
    font-size: .28rem;
}

.head .head_mind {
    font-weight: bold;
    color: #fff;
    font-size: .36rem;
    padding: .25rem 0;
    width: 34%;
    text-align: center;
}

.section_box {
    overflow: hidden;
    margin-top: .15rem;
}

.section {
    padding: 0.5rem;
    background-color: #0E0E20;
    color: #fff;
    float: left;
}

.section > .title {
    position: relative;
}

.section > .title p {
    color: #B7BEDB;
    font-size: .24rem;
}

.section > .title span {
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 1rem;
    vertical-align: bottom;
}


.st1 {
    width: 32.8125%;
    /*width: 100%;*/
    overflow: hidden;
}

.st1 .cont {
    /*padding-top: 0.5rem;*/
    position: relative;
}

.st1 .chart1 {
    width: 100%;
    height: 5rem;
}
.st1 .chart51,.st1 .chart52{
    width: 50%;
    float: left;
    position: relative;
}
.st1 .name_box {
    position: absolute;
    z-index: 10;
    bottom: 1.3rem;
    overflow: hidden;
    width: 100%;
}

.st1 .name_box span {
    float: left;
    width: 33.33%;
    text-align: center;
    display: block;
    color: #808080;
    font-size: .18rem;
}

.st2 {
    margin-left: .15rem;
}

.st2 .chart2 {
    width: 100%;
    overflow: hidden;
    height: 5.25rem;
}
.st2 .label{
    width: 5.1rem;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1.45rem;
}
.st2 .label1{
    background-image: url("../../public/img/init31.png");
}
.st2 .label2{
    background-image: url("../../public/img/init32.png");
}
.st3 {
    margin-top: .15rem;
}

.st4 {
    margin: .15rem;
    padding: .5rem 0;
}
.st4 .title{
    padding: 0 .5rem;
}
.st5 {
    width: 46rem;
    height: 16rem;
    position: relative;
    top: 39rem;
    left: 27rem;
}

.st5 .cont {
    padding-top: 0.5rem;
    position: relative;
}

.st5 .chart5 {
    width: 100%;
    height: 15rem;
    position: relative;
    top: -3rem;
}

.icon_box {
    position: absolute;
    left: 30%;
    top: 261px;
}

.icon_box1 {
    position: absolute;
    right: 30%;
    top: 261px;
}

.icon_box .iconpc, .icon_box1 .iconshouji {
    color: #666F9A;
    font-size: .6rem;
}

.st6 {
    width: 25rem;
    height: 20rem;
    position: relative;
    top: 5rem;
    left: 74rem;
}

.st6 .cont {
    padding-top: 0.5rem;
}

.st6 .chart6 {
    width: 100%;
    height: 16rem;
}


.st7 {
    width: 25rem;
    height: 15rem;
    position: relative;
    top: 26rem;
    left: 74rem;
}

.st7 .cont {
    padding-top: 0.5rem;
}

.st7 .info {
    width: 100%;
    height: 2rem;
    position: relative;
}

.st7 .info .c1 {
    float: left;
    max-width: 6rem;
    height: 2rem;
    margin-right: 0.6rem;
    font-size: 0.7rem;
    line-height: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.st7 .info .c2 {
    float: left;
    width: 9rem;
    height: 2rem;
    margin-right: 0.6rem;
    background-image: url(../img/icon4.png);
    background-size: 0.9rem 1rem;
    background-position: left center;
    background-repeat: repeat-x;
}

.st7 .info .c3 {
    float: left;
    width: 5rem;
    height: 2rem;
    font-size: 0.7rem;
    line-height: 2rem;
}

.st7 .chart7 {
    width: 100%;
    height: 8rem;
    margin-top: 1rem;
}


.st8 {
    width: 25rem;
    height: 13rem;
    position: relative;
    top: 42rem;
    left: 74rem;
}

.st8 .cont {
    padding-top: 0.5rem;
}

.st8 .chart8 {
    width: 100%;
    height: 9rem;
}


.gray {
    opacity: 0.6;
    /*-webkit-filter: hue-rotate(-30deg) grayscale(70%);
    -webkit-filter: hue-rotate(-30deg) grayscale(100%);
    -moz-filter: hue-rotate(-30deg) grayscale(100%);
    -ms-filter: hue-rotate(-30deg) grayscale(100%);
    -o-filter: hue-rotate(-30deg) grayscale(100%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    _filter: none;*/
}


