
.main{ width: 100%; min-height: 56vw; overflow: hidden; position: relative;}

.head{ width: 100%; height: 5rem; position: absolute; top: 0;  overflow: hidden; background-color: #0E0E20;}

.head .head_left {
    position: absolute;
    left: 6rem;
    top:1.5rem;
    width: 20rem;
    padding: .2rem .6rem;
}

.head_left span {
    font-size: 0.8rem;
    font-weight: bold;
    display: inline-block;
}

.head_left .iconwendu {
    color: #FDB201;
    font-size: 1rem;
    margin-right: 0.3rem
}

.head_left .iconshuye {
    color: #0FDA00;
    font-size: 1rem;
    font-weight: normal;
    transition: .3s all;
}

.head_left .color1 span {
    color: #FFFF00;
}

.head_left .color2 span {
    color: #FF7E00;
}

.head_left .color3 span {
    color: #FE0000;
}

.head_left .color4 span {
    color: #97014B;
}

.head_left .color5 span {
    color: #7D0022;
}

.head_left .l1 {
    margin-right: 0.6rem;
    font-size: 0.8rem;
}

.head_left .wcolor0 span {
    color: #0FDA00;
}

.head_left .l2 {
    color: #3ACE74;
    font-size: 0.8rem;
    margin-right: 0.6rem;
}

.head_left .l3 {
    color: #AAE9FF;
}

.head_left .l3 span {
}

.head_left .l3 .cloudy {
    width: 1.3rem;
    height: 1.3rem;
    position: relative;
    margin-right: 0.2rem;
}


.head_left .l3 .cloudy img {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0.4rem;
}

.head .head_right {
    width: 20rem;
    position: absolute;
    top:2rem;
    right:6rem;
    text-align: right;
    color: #fff;
    padding: 0 0.6rem;
    line-height: .84rem;
}

.head_right span {
    font-size: 0.8rem;
}

.head .head_right .iconshijian {
    margin-right: .1rem;
    color: #4EBBFC;
    font-size: 0.8rem;
}

.head .head_mind {
    font-weight: bold;
    position: absolute;
    top:1rem;
    left: 33.5rem;
    color: #fff;
    font-size: 2rem;
    /* padding: 2.5rem 0; */
    width: 32.7rem;
    text-align: center;
}

.st_top{ width: 100%; height: 24rem; margin-top: 6rem; z-index: 101; position: absolute; background-color:#0E0E20;}
.st_bottom{ width: 100%; height: 23.5rem; z-index: 101; position: absolute; margin-top: 31rem;}

.section{ width: 32.7rem; padding: 2.5rem 1.5rem 1.5rem 1.5rem; background-color:#0E0E20;}
.section>.title{ position: relative;}
.section>.title p{ font-size: 1.2rem; line-height: 150%; font-weight: bold; color: #B7BEDB;}
/* .section>.title p.en{ font-size: 0.7rem;} */
.section>.title span{ display: block; position: absolute; bottom: 0; left: 12rem; font-size: 1.6rem; font-weight: bold;}


.st1{ height: 24rem;  position: absolute; left: 0;}
.st1 .cont{ padding-top: 2rem;}
.st1 .st1-chart {
    width: 100%;
    height: 17rem;
}

.st2{  height: 24rem;  position: absolute; left: 33.65rem;}
.st2 .st2-cards{
    width: 100%;
    height: 7rem;
    border-radius:0.6rem;
    background-image: url(../images/st2_title_bg.png);
    background-size: cover;
    /* background: linear-gradient(left,#9740F0, #752DF9);
    background: linear-gradient(to right,#9740F0, #752DF9); */
    position: relative;
    
}
.st2 .st2-cards .st2-cards-title{
    position: absolute;
    font-size: 1.2rem;
    top:1.9rem;
    left: 3rem;
}
.st2 .st2-cards .st2-cards-date{
    position: absolute;
    font-size: 0.9rem;
    top:3.7rem;
    left: 4.3rem;
}
.st2 .st2-cards .st2-cards-num{
    position: absolute;
    font-size: 3rem;
    top: 1.5rem;
    right:4rem;
}
.st2 .cont{ padding-top: 2rem;}
.st2 .st2-chart{ width: 100%; height: 10rem;}

.st3{  height: 24rem;  position: absolute; right: 0;}
.st3 .cont{ padding-top: 2rem;}
.st3 .info{ width: 100%; height: 4rem; position: relative;}
.st3 .info .c1{  max-width: 9rem; height: 2rem; margin-right: 0.6rem; font-size: 0.7rem; line-height: 2rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.st3 .info .c2{ position: absolute; width: 18rem; height: 2rem; margin-right: 0.6rem;}
.st3 .info .c2 .c2-icon{ position: relative; height: 2rem;  background-image: url(../images/icon4.png); background-size: 0.9rem 1rem; background-position: left center; background-repeat: repeat-x;}
.st3 .info .c3{ float: right; width: 5rem; height: 2rem; font-size: 0.9rem; line-height: 2rem;}


.st4{ height: 24rem; background-color: #0E0E20;position: absolute; left: 0;}
.st4 .cont{ padding-top: 2rem;}
.st4 .cont .st4-chart {
    width: 100%;
    height: 17rem;
}

.st5{  height: 24rem; position: absolute; left: 33.65rem;}
.st5 .cont{ padding-top: 2rem;}
.st5 .cont .st5-chart {
    width: 100%;
    height: 17rem;
}

.st6{  height: 24rem;position: absolute; right: 0;}
.st6 .st6-title{font-size: 1.2rem; line-height: 150%; font-weight: bold; color: #B7BEDB;margin-left: 2.5rem;}
.st6 .st6-title .st6-title-left{}
.st6 .st6-title .st6-title-right{}
.st6 .st6-left{
    width: 10rem;
    height: 21rem;
    position: absolute;
    left: 5rem;
}
.st6 .st6-right{
    width: 10rem;
    height: 21rem;
    position: absolute;
    right: 5rem;
}
.st6-count{
    font-size: 2.4rem;
    margin-left: 4rem;
    margin-top: 2rem;
}
.img{
    width: 8rem;
    height: 8rem;
    margin-top: 2.5rem;
    margin-left: 1rem;
    background-size: 100% 100%;
}